$color-black: #0b0f19;
$color-white: #ffffff;
$color-background-violet: #f3f6ff;
$color-text-footer: #9397ad;
$color-gray-300: #e2e5f1;
$color-gray-400: #d4d7e5;
$color-gray-500: #B4B7C9;
$color-gray-600: #9397AD;
$color-gray-700: #565973;
$color-gray-800: #33354D;

$color-accent: #6366f1;
$color-button-pale: #eff2fc;
$color-button-dark: $color-accent;

$color-error: #EF4444;
$color-success: #22C55E;
$color-warning: #FFBA08;
$color-info: #4C82F7;

$color-checkbox-checked-hover: rgba($color-accent, 0.8);