$bs-s: 576px;
$bs-m: 768px;
$bs-l: 992px;
$bs-xl: 1200px;
$bs-xxl: 1400px;

@mixin media-s {
    @media(min-width: 576px) {
        @content;
    }
}

@mixin media-m {
    @media(min-width: 768px) {
        @content;
    }
}

@mixin media-l {
    @media(min-width: 992px) {
        @content;
    }
}

@mixin media-xl {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin media-xxl {
    @media(min-width: 1400px) {
        @content;
    }
}

@mixin transition($props: (color background-color), $duration: 0.3s) {
    transition-property: $props;
    transition-duration: $duration;
}

@mixin boxshadow {
    box-shadow: 0 5px 15px $color-gray-500;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.labelAndError {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    label {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

#error-msg {
    color: $color-error;
    text-align: center;
    position: relative;
    top: -3em;
    height: 0;
    margin: 0;
}
