footer {
   .container {
      width: 50%;
      text-align: center;

      padding-top: 3vh;
      padding-bottom: 6vh;

      p {
         color: $color-text-footer;
         font-size: 14px;
      }
   }
}